<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Air Message</title>
    <link rel="icon" href="favicon.png">
    <style>
      #messageBox:after{
        content: '';
        position: absolute;
        width: 90px;
        border: 5px solid #1a1a1a;
        top: -5px;
        left: 0.5px;
      }
      ::-webkit-scrollbar{
        width: 5px;
        background-color: transparent;
        margin-right: 10px;
      }
      ::-webkit-scrollbar-thumb{
        width: 5px;
        background-color: gray;
      }
    </style>
  </head>
  <body style="background-color: #202020; margin: 0px;">
    <nav style="width: 100vw; height: 50px; position: relative; box-shadow: 0 0 20px rbga(0, 0, 0, 0.4)">
      <img src="whiteIcon.png" style="width: 30px; margin-top: 10px; margin-left: 10px;">
      <button style="font-size: auto; border: 1.5px solid gray; color: white; background-color: transparent; font-family: open sans; padding: 4px; padding-left: 10px; padding-right: 10px; height: 35px; position: absolute; top: 50%; margin-top: -17.5px; left: 50px; outline: none;" id="connect">Connect</button><!--
      --><button style="font-size: auto; border: 1.5px solid gray; color: white; background-color: transparent; font-family: open sans; padding: 4px; padding-left: 10px; padding-right: 10px; height: 35px; position: absolute; top: 50%; margin-top: -17.5px; left: 135px;">Settings</button><!--
      --><button style="font-size: auto; border: 1.5px solid gray; color: white; background-color: transparent; font-family: open sans; padding: 4px; padding-left: 10px; padding-right: 10px; height: 35px; position: absolute; top: 50%; margin-top: -17.5px; left: 217px;" id="createUsername" onclick="usernameCheck()">Username</button><!--
      --><button onclick="window.location='https://airmessage.flightdude.repl.co/'"style="font-size: auto; border: 1.5px solid gray; color: white; background-color: #810000; font-family: open sans; padding: 4px; padding-left: 10px; padding-right: 10px; height: 35px; position: absolute; top: 50%; margin-top: -17.5px; left: 315px;">X</button>
    </nav>
    <div style="width: 100vw; height: calc(100vh - 70px);">
      <div style="float: left; width: 300px; height: 100%;">
        <center>
          <p style="height: 15px; margin-top: 10px; margin-bottom: 10px; color: white; font-size: 15px; font-family: monospace; margin-left: 10px;">Controllers in Range:</p>
          <div id="controllers" style="width: 100%; height: calc(100% - 35px); border: 1.5px solid gray; background-color: #1a1a1a; margin-left: 10px; text-align: left;"></div>
        </center>
      </div>
      <div style="float: right; width: calc(100vw - 350px); height: 100%; margin-right: 15px;">
        <p style="height: 27px; width: auto; margin: 0px;border-top-left-radius: 10px; border-top-right-radius: 10px;background-color: #1a1a1a; width: 100px; color: white;font-family: monospace; border: 1.5px solid gray; border-bottom: none; padding-top: 8px; font-size: 15px;text-align: center;">Messages</p>
        <center>
          <div id="messageBox" style="width: 100%; height: calc(100% - 35px); border: 1.5px solid gray; background-color: #1a1a1a; position: relative;">
            <div style="width: calc(100% - 20px); height: calc(100% - 70px); border: 1px solid gray; margin: 10px; text-align: left; overflow: none; overflow-y: scroll" id="messages-node"></div>
            <input type="text" style="width: calc(100% - 20px); padding-left: 10px; caret-color: white; height: 35px; border: 1px solid gray; background-color: transparent; margin: 10px; margin-top: 0px; color: white; outline: none;font-family: monospace" placeholder="Write your message here." id="messageListner">
          </div>
        </center>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    var username = false;
    var usernameString = ""
    var connected = false

    document.getElementById('messageListner').addEventListener('keyup', (e) => {
      e.preventDefault()
      if (e.keyCode == 13){
        if (connected == true) {
          var message = document.getElementById('messageListner').value
          socket.emit('printMessage', message, usernameString)
          document.getElementById('messageListner').value = ""
        } else {
          terminal("[SERVER] You are not connected. To log into Air Message, click the 'Username' button at the top, and type in your username. Then, select 'Connect' to connect to the server.", "error")
          document.getElementById('messageListner').value = ""
        }
      }
    })

    socket.on('new-message', (message, username) => {
      var newMessage = document.createElement('p')
      newMessage.style.margin = "10px"
      newMessage.marginBottom = "1px"
      newMessage.style.color = "#FFFF00"
      newMessage.style.fontFamily = "monospace"
      newMessage.innerHTML = username + ": " + message
      newMessage.style.fontSize = "15px"
      document.getElementById("messages-node").appendChild(newMessage)
      var messageBox = document.getElementById('messages-node')
      messageBox.scrollTop = messageBox.scrollHeight
    })

    function usernameCheck(){
      var input = prompt("What's your username?")
      localStorage.setItem('username', input)
      username = true
      usernameString = input
      document.getElementById('connect').style.backgroundColor = "transparent"
      socket.emit('disconnected-user', sessionStorage.getItem('socket-id'))
      document.getElementById('createUsername').style.backgroundColor = "limegreen"
      terminal("[SERVER] Select 'Connect' to connect to the server and start chatting!", "info")
    }

    var onPress = 0;
    document.getElementById('connect').addEventListener('click', () => {
      if (onPress == 0) {
        if (username == true) {
          document.getElementById('connect').style.backgroundColor = "#005C5C"
          socket.emit('new-user', usernameString)
          socket.emit('terminal-receive', "[SERVER] " + usernameString + " has connected.")
          document.getElementById('createUsername').style.backgroundColor = "#005C5C"
          connected = true
          onPress++
        } else {
          document.getElementById('createUsername').style.backgroundColor = "#990000"
          terminal("[SERVER] You do not currently have a username.", "error")
          onPress = 0;
        }
      } else if (onPress == 1) {
        document.getElementById('connect').style.backgroundColor = "transparent"
        socket.emit('disconnected-user', sessionStorage.getItem('socket-id'))
        socket.emit('terminal-receive', "[SERVER] " + usernameString + " has disconnected")
        connected = false
        onPress = 0;
      }
    })

    socket.on('terminal', (info) => {
      terminal(info, "info")
    })

    socket.on('get-id', (id) => {
      sessionStorage.setItem('socket-id', id)
    })

    socket.on('add-controller', (username, id) => {
      var newController = document.createElement('p')
      newController.style.margin = "10px"
      newController.marginBottom = "1px"
      newController.style.color = "#FFFF00"
      newController.style.fontFamily = "monospace"
      newController.innerHTML = "1" + Math.floor(Math.random()*2 + 1) +  Math.floor(Math.random()*9) + "." + Math.floor(Math.random()*9) +  "0" + ": " + username
      newController.id = id
      newController.style.fontSize = "15px"
      document.getElementById("controllers").appendChild(newController)
    })

    socket.on('delete-user', (id) => {
      var removing = document.querySelector('#' + id)
      removing.parentNode.removeChild(removing)
    })

    function terminal(information, type) {
      var newMessage = document.createElement('p')
      newMessage.style.margin = "10px"
      newMessage.marginBottom = "1px"
      if (type == "info"){
        newMessage.style.color = "#FFFFFF"
      } else if (type == "error") {
        newMessage.style.color = "#FF0000"
      }
      newMessage.style.fontFamily = "monospace"
      newMessage.innerHTML = information
      newMessage.style.fontSize = "15px"
      document.getElementById("messages-node").appendChild(newMessage)
      var messageBox = document.getElementById('messages-node')
      messageBox.scrollTop = messageBox.scrollHeight
    }
  </script>
</html>